@import "tailwindcss";

@font-face {
  font-family: 'Fontin';
  src: url('/fonts/Fontin-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Fontin';
  src: url('/fonts/Fontin-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Fontin';
  src: url('/fonts/Fontin-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Fontin';
  src: url('/fonts/Fontin-SmallCaps.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-variant: small-caps;
}

@source "../../safelist.txt";

body {
  margin: 0;
}